:root {
  --primary1Color: #0277bd;
  --transition-duration: 0.3s;
}

.accordion + .accordion {
  margin-top: 15px;
}

.title {
  align-items: center;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  display: flex;
  padding: 15px 5px;
  transition: border-color var(--transition-duration) ease;

  @nest .open & {
    border-color: var(--primary1Color);
    &:hover { border-color: var(--primary1Color); }
  }

  &:hover {
    border-color: #aaa;
  }

  & span {
    flex: 1;
  }
}

.icon {
  color: var(--primary1Color);
}

.content {
  height: 0;
  overflow: hidden;
  padding: 0;

  @nest .open & {
    height: auto;
    overflow: visible;
    padding: 10px 15px;
  }
}
